# To Activate, Please follow The instractions below
1. Install python3.11 on your PC (if not already exists)
2. Create venv using the IDE or by terminal: "/path/to/python3.11 -m venv myenv"
3. Activate venv "venv\Scripts\activate
3. Download the following dependencies using pip to venv: "pip install pandas matplotlib scikit-learn tensorflow"
4. Run the script

In [ ]:
# Basic Libraries Import
import pandas as pd
import matplotlib.pyplot as plt

# Sklearn imports
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier, VotingClassifier
from sklearn.metrics import classification_report, log_loss, accuracy_score
from sklearn.datasets import load_breast_cancer
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier

# TensorFlow
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.optimizers import Adam

# דוגמאות נתונים מ-sklearn

# Cleaning and Preparing The Data

In [10]:
# Load players.csv data into a DataFrame
df = pd.read_csv("players.csv")

# Delate irrelevant columns
df = df.drop(columns=['PLAYER', 'season year'])
# Convert categorical columns to numerical using Label Encoding
df['POS'] = LabelEncoder().fit_transform(df['POS'])
# Fill NaN values with 0
df = df.fillna(0)
# Sample and display 5 rows of the DataFrame
df.sample(5)

,Unnamed: 0,SEASON,AGE,POS,MP,FG,FGA,FG%,3P,3PA,...,TOV%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
578,578,0,27,6,0.0,0.0,0.0,0.000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.0,0.0,0.0
108,108,1,27,0,9.5,1.6,2.5,0.640,0.0,0.0,...,12.6,16.2,0.6,0.4,1.0,0.176,-1.2,2.8,1.6,0.3
93,93,0,23,2,8.3,0.7,2.3,0.286,0.0,0.7,...,18.6,19.7,0.0,0.1,0.1,0.124,-0.8,7.4,6.6,0.1
248,248,1,25,0,18.8,2.4,5.5,0.429,0.0,0.0,...,11.7,17.3,0.2,0.3,0.4,0.079,-3.5,-0.8,-4.3,-0.2
287,287,0,26,4,3.0,0.0,0.5,0.000,0.0,0.5,...,0.0,7.4,0.0,0.0,0.0,-0.026,-7.0,5.6,-1.3,0.0

# Classic ML Model

Split the data

In [25]:
# Set the target variable and features matrix
target = df.SEASON
features_matrix = df.drop(columns=['SEASON'])
# Split the data into training and testing sets 20% training and 80% testing
X_train, X_test, y_train, y_test = train_test_split(features_matrix, target , test_size=0.2, random_state=42)
df.sample(5)

,Unnamed: 0,SEASON,AGE,POS,MP,FG,FGA,FG%,3P,3PA,...,TOV%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
134,134,1,34,4,3.7,0.2,0.6,0.286,0.0,0.1,...,3.7,9.8,0.0,0.1,0.0,0.013,-7.6,-0.6,-8.3,-0.2
386,386,1,35,0,23.9,3.1,5.2,0.602,0.0,0.0,...,12.6,13.7,0.6,0.6,1.2,0.128,-1.5,0.4,-1.1,0.1
416,416,1,28,1,5.3,0.5,1.4,0.364,0.1,0.3,...,15.4,13.8,0.0,0.0,0.0,-0.008,-5.5,-2.1,-7.6,-0.1
59,59,0,30,2,13.0,2.0,5.0,0.400,0.8,3.4,...,12.3,22.5,0.1,0.1,0.1,0.091,-2.7,-1.9,-4.6,0.0
653,653,1,26,2,12.2,2.1,5.2,0.408,0.1,0.4,...,18.0,25.0,-0.4,0.2,-0.1,-0.019,-3.9,0.2,-3.6,-0.1

Building the module and evaluate

In [27]:

# Train a simple Logistic Regression model with AdaBoost
model = AdaBoostClassifier(DecisionTreeClassifier(max_depth=1), n_estimators=1000)
model.fit(X_train, y_train)

# Evaluate the model
y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print(f"Model Accuracy: {accuracy * 100:.2f}%")

Model Accuracy: 74.24%

# NN ML Model